<footer id="footer">
  <!-- <section class="footer-bg-1">
      <div class="container">
          <div class="col-md-12">
              <div class="spacing-footer" style="padding-top:30px;text-align: center;z-index:5"> <button class="btn btn-outline-info newb2 start-a-fundraiser-events footer-button" href="" title="Start a Fundraiser" target="_blank" style="z-index:5" id="footer-start-fundraiser"> Start a Fundraiser </button> </div>
          </div>
      </div>
      <div class="bg-overlay"></div>
  </section> -->
  <section class="footer__search">
      <div class="container">
          <div class="row emailSub">
              <div class="col-lg-6 text-center text-lg-left">
                  <h2 class="font-w">Have Questions!</h2> </div>
              <div class="col-lg-6">
                  <form class="row">
                      <div class="col-sm-7">
                          <input class="form-control" placeholder="Enter your e-mail id" type="email"> <span class="help-block mx-auto text-center my-0 w-100" style="top: 100%;" id="subscribe-response"></span> </div>
                      <button type="submit" class="btn btn-outline-success" style="margin-left: 20px">Subscribe</button>
                  </form>
              </div>
          </div>
      </div>
  </section>
  <section id="top-footer">
      <div class="container ">
          <div class="footer-top" id="new-footer">
              <div class="row">
                  <div class="col-lg-3 col-xs-12 text-center text-lg-left mb-4 mb-md-0">
                      <div class="d-sm-flex d-lg-block justify-content-center">
                          <div class="contact-us mr-md-5 mr-lg-0">
                              <h5>Contact us</h5>
                              <ul class="footer-nav">
                                  <li><span class="opacity-7">General Enquiry</span></li>
                                  <li class=""><span class="opacity-7">Phone</span> : 08030187007</li>
                                  <li><span class="opacity-7">Email</span> : <a href="mailto:info@impactguru.com">info@impactguru.com</a></li>
                                  <br> </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
