<div class="container">
    <mat-horizontal-stepper #stepper>
        <mat-step>
                <ng-template matStepLabel>Fill out your name</ng-template>
                <label>AADHAR</label>
                <input matInput [(ngModel)]="aadhar" placeholder="8888-8888-8888" name="Aadhar" required>
                <button mat-button matStepperNext (click)="validateMail()">Submit</button>
                <div *ngIf="aadhar !== undefined && aadhar.length == 12">OTP
                    <input matInput [(ngModel)]="otp" placeholder="OTP" required>
                    <button mat-button>Submit</button>
                </div>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>Fill out your address</ng-template>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>

<!-- Aadhar Number
OTP
SUBMIT

EMAIL OTP -->
