<div class="container w-80 mx-auto">

  <h1 class="mt-5">{{content.blog_title}}</h1>
  <small class="text-muted mb-5">By- <b>{{content.blog_author}}</b></small>
  <div class="row">
    <div class="col-md-9">
      <div class="card bg-dark text-white">
        <img src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/images/default.jpg" class="card-img" alt="Responsive image" />
        <div class="card-img-overlay text-center">
          <input #fileUpload type="file" (click)="fileUpload.value = null"(change)="importFile($event)" style="display:none" accept="image/*">
            <button (click)="fileUpload.click()" style="margin-top:20%;background:transparent;border: none;"><i class="fas fa-plus fa-10x" style="opacity:0.5 ;"></i> </button>
        </div>
      </div>
      <h2 class="mt-5">Fundraiser Story</h2>
      <textarea name="name" rows="8" class="w-100" (input)="onChange($event)">{{content.blog_content}}</textarea>
    </div>
    <div class="col-md-3 border-left">
      <h3 class="text-primary">Rs {{content.blog_amount}}</h3>
        <h4 class="text-muted">- Rs {{content.blog_amount_recieved}}</h4>
        <hr>
        <h3 class="text-info">Rs {{content.blog_amount-content.blog_amount_recieved}}</h3>
    </div>
  </div>
</div>
