<div class="row" style="margin: 100px 100px">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title>Signup</mat-card-title>
          </mat-card-header>
          <form action="" (submit)="onSignup(postForm)" #postForm="ngForm">
              <mat-card-content>
                  <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput type="email" placeholder="Email ID" name="email" ngModel required #mail="ngModel" email>
                      <mat-error *ngIf="mail.invalid">Please Enter Email</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" placeholder="password" name="password" ngModel required #password="ngModel" password>
                      <mat-error *ngIf="password.invalid">Please Enter Password</mat-error>
                  </mat-form-field>
                  <mat-checkbox name="private">Check me!</mat-checkbox>
              </mat-card-content>
              <mat-card-actions>
                  <button mat-raised-button type="submit" color="primary">Signup</button>
              </mat-card-actions>
              Already have an accound ? Login
              <button class="btn btn-outline-secondary" (click)="log()">LOGIN</button>
          </form>
      </mat-card>
  </div>
  <div class="col-md-4"></div>
</div>
