<div class="row">
    <div class="col-md-3 p-5">
        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1693ffd1f6d%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1693ffd1f6d%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="img-fluid mx-auto" alt="">
    </div>
    <div class="col-md-9 p-5">
        <mat-tab-group mat-align-tabs="left">
          <mat-tab label="First">
              <h5 class="mt-5 mb-3">User Profile</h5>
              <div class="row">
                  <div class="col-md-6">
                      <h6>About</h6>
                      <p>
                          Web Designer, UI/UX Engineer
                      </p>
                      <h6>Hobbies</h6>
                      <p>
                          Indie music, skiing and hiking. I love the great outdoors.
                      </p>
                  </div>
                  <div class="col-md-6">
                      <h6>Recent badges</h6>
                      <a href="#" class="badge badge-dark badge-pill">html5</a>
                      <a href="#" class="badge badge-dark badge-pill">react</a>
                      <a href="#" class="badge badge-dark badge-pill">codeply</a>
                      <a href="#" class="badge badge-dark badge-pill">angularjs</a>
                      <a href="#" class="badge badge-dark badge-pill">css3</a>
                      <a href="#" class="badge badge-dark badge-pill">jquery</a>
                      <a href="#" class="badge badge-dark badge-pill">bootstrap</a>
                      <a href="#" class="badge badge-dark badge-pill">responsive-design</a>
                      <hr>
                      <span class="badge badge-primary"><i class="fa fa-user"></i> 900 Followers</span>
                      <span class="badge badge-success"><i class="fa fa-cog"></i> 43 Forks</span>
                      <span class="badge badge-danger"><i class="fa fa-eye"></i> 245 Views</span>
                  </div>
                  <div class="col-md-12">
                      <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                      <table class="table table-sm table-hover table-striped">
                          <tbody>
                              <tr>
                                  <td>
                                      <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              <!--/row-->
          </mat-tab>
          <mat-tab label="Second">
              
          </mat-tab>
        </mat-tab-group>
    </div>


</div>
